@media (max-width: 1024px) {
    .hero__container {
        flex-direction: column;
    }

    .hero__content {
        width: 100%;
        text-align: center;
        padding-top: 0;
        margin-bottom: 20px;
    }

    .hero__img {
        width: 70%;
    }

    .hero__text {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .hero__container img {
        text-align: center;
        margin: 0 auto;
    }

    .hero__title {
        margin-bottom: 25px;
    }

    .shop__content {
        flex-direction: column-reverse;
    }

    .shop__map {
        width: 100%;
    }

    .shop__info {
        width: 100%;
        text-align: right;
    }

    .catalog__info {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 980px) {

    .products__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 940px) {
    .advantages__descr {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .preload__text {
        letter-spacing: 8px;
    }
    
    .search__category {
        flex-direction: column;
    }

    .cart-header__body {
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
    }

    .header__contacts {
        display: none;
    }

    .menu__item--add {
        display: block;
    }

    .btn__burger {
        display: flex;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 152px 15px 30px 30px;
        text-align: center;
        background-color: rgb(255, 255, 255, 0.97);
        height: 100%;
        transform: translateX(-100%);
        transition: transform .6s;
        z-index: 900;
        overflow-y: auto;
        width: 100%;
    }

    .menu.menu--active {
        transform: translateX(0);
    }

    .menu__list {
        flex-direction: column;
        text-align: left;
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 35px;
    }

    .btn__burger--active {
        justify-content: center;
        transition: all .3s;
    }

    .btn__burger svg {
        transition: transform .3s ease-in-out;
    }

    .btn__burger--active svg {
        transform: rotate(180deg);
    }


    .menu__link {
        font-size: 25px;
    }

    .advantages__inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .advantages {
        margin-bottom: -110px;
    }

    .about__text {
        line-height: 176%;
        font-size: 16px;
    }


    .header__logo {
        margin-bottom: 20px;
    }

    .header__actions {
        z-index: 1000;
        display: block;
    }

}

@media (max-width: 690px) {
    .products__items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 640px) {
    .hero__img {
        display: none;
    }

    .about__text {
        font-size: 15px;
    }

    :root {
        --offset: 60px;
    }

    .hero__text {
        max-width: 100%;
        font-size: 19px;
    }

    .shop__text {
        font-size: 16px;
    }
}

@media (max-width: 592px) {
    .order-modal,
    .card-modal {
        top: -100%;
    }

    .order {
        padding: 0;
    }

    .order__label {
        flex-direction: column;
    }

    .order-modal__top {
        padding-top: 20px;
    }
}

@media (max-width: 475px) {
    .footer__inner {
        flex-direction: column;
    }

    .hero__title {
        font-size: 48px;
    }


    .map {
        height: 360px;
    }

    .shop__text {
        font-size: 14px;
    }
}