.products {
    padding-top: 105px;
    padding-bottom: 44px;
}

.products__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.item-product {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F4F5F7;
    box-shadow: 0px 0px 11px 0px rgba(135, 135, 135, 0.25);
}

.products__item--hide {
    display: none;
}

.item-product__img {
    padding: 0px 0px 301px/285px*100% 0px;
    /* padding-bottom: 100%; */
}

.item-product__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-bottom: 30px;
}

.item-product__content {
    flex: 1 1 auto;
}

.item-product__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
}

.item-product__details {
    margin-bottom: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--dark-color);
}

@media (hover: hover) {
    .item-product__details:hover {
        text-decoration: underline;
    }
}

.item-product__img img {
    width: 100%;
    height: 100%;
}

.item-product__price {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    margin-bottom: 20px;
}

.actions-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.actions-product__button {
    flex: 1 1 100%;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}


.products__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.products__items {
    flex: 1 1 auto;
    margin-bottom: 80px;
}

.products__pagination {
    display: flex;
    justify-content: center;
}

.products__pagination button:not(:last-of-type) {
    margin-right: 8px;
}  

.pagination__btn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 100%;
    background-color: var(--background-color);
    border: 1px dashed transparent;
    border-radius: 25px;
    color: var(--dark-color);
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 23px;
    min-height: 23px;
}

@media (hover: hover) {
    .pagination__btn:hover {
        border: 1px dashed var(--dark-color);
    }
}

.pagination__btn--active {
    background-color: var(--dark-color);
    border: 1px dashed transparent;
    color: var(--light-color);
}

.item-product__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avaibility {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-product__point {
    width: 8px;
    height: 8px;
    background-color: var(--dark-color);
    display: block;
    border-radius: 50%;
}

.item-product__point.not-available {
    background-color: var(--accent-color);
}

.catalog__empty {
    grid-column: 2;
    text-align: center;
}

.catalog__empty span {
    display: block;
    font-size: 22px;
    color: var(--dark-color);
}

.empty__img {
    margin-bottom: 15px;
}