.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section-offset {
    padding: var(--offset) 0;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.stop-scroll {
    overflow: hidden;
}